p{
    color: aquamarine;
}
img{
    size: 60px;
}

.Titulo{
    color: #fff565;
}

.Listas{

    font-family: 'montserrat';
    color: blue;
    font-weight: 800;
}

.parrafo{

    color:blueviolet;
    font-family: montserrat;
}
span{
    text-decoration: line-through;
}