body{
    margin: 0;
}
.box{
    width: 100px;
    height: 100px;
    background: red;
    margin: 10px;
}

.box-uno{
box-sizing: border-box;
padding: 25px;
border: 10px solid black;
}

.box-dos{
    box-sizing: border-box;
    padding: 25px;
    border: 10px solid black;
    background: linear-gradient(to right, #56f , transparent);
}
h1{

    text-shadow: 0px 0px 3px #56f;
}